<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DigDbEntities" connectionString="metadata=res://*/DigEntity.csdl|res://*/DigEntity.ssdl|res://*/DigEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DigDb;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>