@{
    ViewBag.Title = "Home Page";
}
@section featured {
featured section
}

<div class="row">
	<div class="span3" style="background-color:#ff0;">
	
	<div class="span1" style="background-color:#f40;">1</div>
	
	<div class="span1" style="background-color:#fb0;">2</div>
	</div>

</div>
<div class="row">
	<div class="span3" style="background-color:#ff0;">2a</div>
	<div class="span2" style="background-color:#ff0;">2b</div>

</div>
<div class="row">
	<div class="span3" style="background-color:#ff0;">3a</div>
	<div class="span2" style="background-color:#ff0;">3b</div>

</div>
blah