@{
    ViewBag.Title = "EventGrid";
    Layout = "~/Views/Shared/_DigLayout.cshtml";
}

<h2>EventGrid</h2>



<div id="test">aa</div>

<div id="example" class="k-content">
            <div id="grid"></div>
            <script>
	            $(document).ready(function() {
		            $("#grid").kendoGrid({
			            dataSource: {
				            type: "jsonp",
				            transport: {
					            read: "http://localhost:9256/api/Event"
				            },
				            schema: {
					            model: {
						            fields: {
							            Name: { type: "string" }
						            }
					            }
				            },
				            pageSize: 10,
				            serverPaging: false,
				            serverFiltering: false,
				            serverSorting: false
			            },
			            height: 250,
			            filterable: false,
			            sortable: false,
			            pageable: false,
			            columns: [
				            "Name"
			            ]
		            });
	            });
            </script>
        </div>
