@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DigLayout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("AutoComplete", "AutoComplete")</li>
    <li> @Html.ActionLink("EventGrid", "EventGrid")</li>
</ul>