@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBracketGen.cshtml";
}

<h2>Index</h2>

<div>
	Tournament Name
	<input type="text"/>
</div>

<div>
	Tournament Type
	<select id="select">
		<option>Single Elimination With Round Robin</option>
		<option>Single Elimination Without Round Robin</option>
		<option>Double Elimination With Round Robin</option>
		<option>Double Elimination Without Round Robin</option>
		<option>Round Robin Only</option>
	</select>
</div>

<div>
	Bracket Size
	<input type="text" value="6" />
</div>

<div>
	One per line, ordered by seed, best to worst.
	<br/><textarea cols="40" id="tournament_participant_emails" name="tournament[participant_emails]" rows="20" style="width:220px; height:200px"></textarea>
	<br /><input class="checkbox" id="randomize_seeds" name="randomize_seeds" type="checkbox" value="1" />Randomize seeds
</div>

<div>
	
	How many places matter?
	(1st,2nd,3rd)
</div>

<div>
	<input id="tournament_submit" name="commit" type="submit" value="Generate it!" />
</div>

<br />